<!DOCTYPE html>
<html>
<head>
  <title>HackpsuApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>Created by the HackPSU Team (c) 2015 | <%= link_to "hackpsu.org","http://hackpsu.org"%> | <%= link_to "email us", "mailto:team@hackpsu.org"%>

</body>
</html>
